:root {
  --color-primary: #0f4024;
  --color-secondary: #ffbc00;
  --color-tertiary: #0c0c0c;
  --font-space-default: 16px;
  --space-0: 0px;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 2rem;
  --size-field-size: 160px;
  --size-app-width: 640px;
  --font-primary:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --line-height-md: 1.25;
  --line-height-lg: 1.5;
  --transition-default: all 200ms ease-out;
  --radius-default: 4px;
  --border-primary: solid 2px var(--color-primary);
  --border-secondary: solid 2px var(--color-secondary);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-tertiary);
  padding: var(--space-4);
  min-height: 100vh;
  color: var(--color-secondary);
  font-size: var(--font-space-default);
  line-height: var(--line-height-md);
  font-family: var(--font-primary);
}

/* NOTE: Shamelessly stolen from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
