.box {
  border: var(--border-secondary);
  border-radius: var(--radius-default);
  padding: var(--space-4);

  &[data-error="true"] {
    border: var(--border-tertiary);
    color: var(--color-error);
  }
}
