.field {
  &:not([data-display-only="true"]):focus-within > *,
  &:not([data-display-only="true"]):hover > * {
    border-color: var(--color-secondary);
  }
}

.label {
  display: inline-flex;
  position: relative;
  transition: var(--transition-default);
  border: var(--border-primary);
  border-bottom: none;
  border-radius: var(--radius-default);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--color-tertiary);
  padding: var(--space-2) var(--space-4);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
  transition: var(--transition-default);
  border: var(--border-primary);
  border-radius: var(--radius-default);
  border-top-left-radius: 0;
  background: var(--color-tertiary);
  padding: var(--space-4);

  input {
    flex-grow: 1;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    min-width: 0;
    color: var(--color-secondary);
    font-size: 1.5em;
    text-overflow: ellipsis;

    &::placeholder {
      opacity: 1;
      color: var(--color-primary);
    }
  }
}
